.item {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  gap: 1rem;
  padding: 1.2rem;
  width: 100%;

  p {
    font-size: 0.875rem;
  }

  div {
    font-size: 2.25rem;
  }
}