.content__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;

  form {
    background-color: var(--color-white);
    border-radius: 16px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    > img {
      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        cursor: pointer;
        filter: invert(17%) sepia(63%) saturate(7218%) hue-rotate(318deg) brightness(84%) contrast(106%);
      }
    }

    h4 {
      align-self: flex-start;
      color: var(--color-dark-blue-600);
      font-weight: 600;
      margin: 2rem 0 1rem 0.8rem;
    }
    
    input {
      color: var(--color-gray-500);
      font-family: 'Montserrat', sans-serif;
      font-size: 0.875rem;
      padding: 0.8rem;
      width: 16rem;
    }

    p {
      color: var(--color-red);
      font-family: 'Montserrat', sans-serif;
      font-size: 0.75rem;
      font-weight: 400;
      letter-spacing: 0.03333em;
      line-height: 1.66;
      margin-top: 3px;
      margin-bottom: -1.441rem;
      max-width: 17.5rem;
      text-align: center;
    }

    .input__error {
      color: var(--color-red);
    }

    .input__warning {
      color: var(--color-blue);
    }

    .password__input {
      width: 17.55rem;

      &:before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }
    }

    ::after {
      border-bottom: 2px solid var(--color-pink);
    }

    .button__states {
      background-color: var(--color-pink);
      border-radius: 20px;
      color: var(--color-white);
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-transform: none;
      transition: none;
      padding: 0.6rem 3.5rem;
      margin: 1rem 0;

      &:hover {
        background-color: var(--color-white);
        color: var(--color-pink);
      }
  
      &:disabled {
        background-color: var(--color-pink-low-opacity);
        color: var(--color-white-50);
      }
    }

    .snackbar {
      margin-top: auto;
      margin-bottom: -0.5rem;
      width: max-content;
    }
  }
}