.card__wrapper {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;

  header {
    background-color: var(--color-dark-blue-600);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1.5rem;
    width: 25rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 2.5rem 4rem;
    width: 100%;
  }
}
